<div id="updateForm">
    <h1 id="deleteStaffTitle">Delete Staff</h1>
    <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()" class="myform">

        <div class="myInputs">
            <mat-form-field class="example-full-width">
                <mat-label class="formInput">First Name</mat-label>
                <input class="formInput" matInput formControlName="firstName" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Last Name</mat-label>
                <input class="formInput" matInput formControlName="lastName" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Full Name</mat-label>
                <input class="formInput" matInput formControlName="fullName" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Gender</mat-label>
                <input class="formInput" matInput formControlName="gender" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Type</mat-label>
                <input class="formInput" matInput formControlName="type" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Specialization</mat-label>
                <input class="formInput" matInput formControlName="specialization" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">License Number</mat-label>
                <input class="formInput" matInput formControlName="licenseNumber" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Availability Slot</mat-label>
                <input class="formInput" matInput formControlName="availabilitySlot" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Phone Number</mat-label>
                <input class="formInput" matInput formControlName="phoneNumber" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Email</mat-label>
                <input class="formInput" matInput formControlName="email" disabled>
            </mat-form-field>
        </div>

        <button class="actionButtons" type="button" mat-dialog-close mat-raised-button color="warn">Cancel</button>
        <button class="actionButtons" type="submit" mat-raised-button color="accent">Delete</button>
    </form>
</div>
