<div id="updateForm">
    <h1 id="updateStaffTitle">Update Staff</h1>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="myform">

        <div class="myInputs">
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="fullName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Type</mat-label>
                <input matInput formControlName="type">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Specialization</mat-label>
                <input matInput formControlName="specialization">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>License Number</mat-label>
                <input matInput formControlName="licenseNumber">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Availability Slot</mat-label>
                <input matInput formControlName="availabilitySlot">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneNumber">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
        </div>

        <button class="actionButtons" type="button" mat-dialog-close mat-raised-button color="warn">Cancel</button>
        <button class="actionButtons" [disabled]="updateForm.invalid" type="submit" mat-raised-button color="primary">
            Update
        </button>
    </form>
</div>
